@import '../../../styles/_vars.css';

.awards-cards {
    width: 90px;
}

.awards-cards img {
    height: 100px;
    width: 65px;
    border-radius: 8px;
    object-fit: cover;
}

.awards-cards p {
    width: 62px;
    font-size: 10px;
    margin: 2px 0 5px 0;
    text-overflow: " [..]";
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    font-weight: bold;
}