@import '../../../styles/_vars.css';

.awards-cards {
    width: 120px;
}

.awards-cards img {
    width: 80px;
    border-radius: 8px;
    object-fit: cover;
}

.awards-cards p {
    width: 62px;
    font-size: 14px;
    margin: 2px 0 5px 0;
    text-overflow: " [..]";
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    font-weight: bold;
    margin-left: 15px;
}