@import '../../../styles/_vars.css';

.Actor-Create {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 80%;
}

.Actor-Create-inputs {
    align-self: center;
    border: none;
    border-radius: 15px;
    width: 90%;
    height: 30px;
    background: var(--text-input-fiel);
}

.Actor-Create-label {
    margin-left: 18px;
    align-self: flex-start;
}

.Actor-Create-UploadPhoto {
    display: flex;
    margin-left: 18px;
    align-self: flex-start;
}

.Actor-Create-button {
    background: var(--hospital-red) !important;
    margin-right: 15px !important;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 5px !important;
    cursor: pointer;
    width: 65px !important;
}

.Actor-Create-UploadPhoto span {
    font-size: 10px;
    margin-top: 5px;
}

.Actor-summit {
    align-self: flex-end !important;
    justify-self: end !important;
    padding: 8px !important;
    font-weight: bolder;
    font-size: 14px;
}