@import '../../../styles/_vars.css';

.Movies-Create {
    background: var(--very-light-pink);
    margin-top: 5px;
    height: 90%;
    width: 95%;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.actor-link{
    width: 28px!important;
}

.search{
    margin-bottom: 20px;
}
.Movies-Create-Container {
    height: 92%;
    width: 30%;
    border-radius: 15px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: start;
}

.Movies-Create-inputs {
    align-self: center;
    border: none;
    border-radius: 15px;
    width: 90%;
    height: 30px;
    background: var(--text-input-fiel);
}

.Movies-Create-inputs-TextArea {
    align-self: center;
    border: none;
    border-radius: 15px;
    width: 90%;
    background: var(--text-input-fiel);
}

.Movies-Create-label {
    margin-left: 18px;
}

.Movies-Create-UploadPhoto {
    display: flex;
    margin-left: 18px;
}

.Movie-button-portada{
    margin-left: 20px;
}

.Movies-Create-Summary {
    align-self: center;
    overflow: hidden;
    border: none;
    border-radius: 15px;
    height: 25%;
    width: 90%;
    background: var(--text-input-fiel);
    display: grid;
    grid-template-columns: auto auto auto;

}

.Movies-Create-combo-link {
    display: flex;
    justify-content: space-evenly;
}

.Movies-Create-combo-link input{
    width: 75%;
}
.Movies-Create-combo-link button {
    background: none;
    border: none;
    margin: 0;
    cursor: pointer;
    padding: 0;
    margin-top: -12px;
    margin-left: -20px;
}

.Movies-Create-combo-link img {
    width: 20px !important;
    padding: 0;
    margin: 0;

}

.Movies-Create-comboBox {
    align-self: center;
    padding: 10px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    width: 84%;
    height: 120px;
    margin-top: -20px;
    background: var(--text-input-fiel);
}



.Empoye-Create-delete {
    margin-left: 10px;
    margin-top: 10px;
    width: 100px;
    height: 30px;
}

.Empoye-Create-delete span {
    font-size: 12px;
}

.Empoye-Create-delete button {
    border: none;
    background: none;
    font-weight: bolder;
    font-family: 'Quicksand', sans-serif;
    color: var(--hospital-red);
    cursor: pointer;
}

.Movies-Create-Sent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50%;
}

.Movies-Create-Sent span {
    width: 80%;
}

.Movies-Create-Sent img {
    width: 70px !important;
    margin-bottom: 10px !important;
}

.Movies-button-sent {
    margin-top: 20px;
    font-weight: bolder;
    padding: 14px;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 8px;
    cursor: pointer;
    width: auto;
    background: var(--hospital-red);
}

/* ACTOR CREATE */

.Actor-Create {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 50%;
    padding-bottom: 20px;
    border-radius: 13px;
    border-top: 1px solid var(--text-input-fiel);

}

.Actor-Create h4 {
    margin: 0;
}

.Actor-Create-inputs {
    align-self: center;
    border: none;
    border-radius: 15px;
    width: 90%;
    height: 30px;
    margin-top: 15px;
    background: var(--text-input-fiel);
}

.Actor-Create-label {
    margin-left: 18px;
    align-self: flex-start;
}

.Actor-Create-inputs-photo{
    margin-top: 15px;
    width: 90%;
}

.Actor-Create-button {
    background: var(--hospital-red) !important;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    width: 40% !important;
    margin: 0 !important;
}

.Actor-Create-Conatainer{
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}