@import '../../../styles/_vars.css';

.publish-question-phone {
    width: 200px;
    align-self: center;
    margin-top: 15px;
    z-index: 1;
    position: relative;
}

.title-phone {
    z-index: 3;
    margin-top: 53px !important;
    position: absolute;
    margin-left: 40px !important;
    font-size: var(--md);
    color: var(--white);
}

.publish-question-phone div {
    margin-top: -300px;
    height: 212px;
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.publish-question-phone div span {
    width: 130px;
    font-size: 10px;
    margin-left: 12px;
    text-overflow: " [..]";
    overflow: hidden;
    white-space: nowrap;
}

.publish-question-phone div span:nth-child(2n) {
    margin-left: 50px;
}