:root{
    --very-light-pink: #C7C7C7;
    --text-input-fiel: #f7f7f7d1;
    --hospital-yellow: #FFF56D;
    --hospital-red:    #FD5D5D;
    --white:           #FFFFFF;
    --black:           #000000;
    --sm:14px;
    --md:16px;
    --lg:18px;
}