body{
    font-family:'Quicksand', sans-serif;
    margin: 0;
}
::-webkit-scrollbar{
    width: 9px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--hospital-yellow); 
    border-radius: 15px;
}

.Spinner-Modal{
    z-index: 2;
    position: absolute;
    align-self: center;
    justify-self: center;
    margin-top: 17%;
}