@import '../../../styles/_vars.css';

.exchange-cards-container {
    margin-top: 8px;
    display: grid;
    grid-template-columns: auto auto auto;
    place-content: center;
    margin-left: 15px;
}