@import '../../../styles/_vars.css';

h2 {
    font-size: 16px;
    margin-left: 12px;
}

.Accredits {
    align-items: center;
    display: flex;
    height: 550px;
    justify-content: center;
    width: 100%;
}

.Accredits-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 550px;
    padding: 0;
    width: 100%;
}

.Accredits-title {
    margin-bottom: 20px;
    padding: 0;
    font-size: var(--lg);
}

.Accredits-desing-container {
    align-items: center;
    display: flex;
    height: 520px;
    justify-content: space-evenly;
}

.Accredits-view-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--very-light-pink);
    border-radius: 20px;
    height: 500px;
    width: 1100px;
}

.Accredits-movies {
    background-color: var(--white);
    border-radius: 20px;
    margin: 15px;
    height: 450px;
    width: 350px;
}

.movies-scroll-container {
    display: block;
    width: 350px;
    height: 412px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.information-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 450px;
    margin: 15px 15px 15px 0px;
    padding: 0;
}

.qr-escanner {
    background-color: var(--white);
    height: 180px;
    width: 350px;
    margin-top: 0px;
    border-radius: 20px;

}

.user-profile {
    background-color: var(--white);
    height: 255px;
    width: 350px;
    border-radius: 20px;
}

.accredit-points {
    background-color: var(--white);
    border-radius: 20px;
    margin: 15px 15px 15px 0;
    height: 450px;
    width: 350px;
}

