@import '../../../styles/_vars.css';

.best-film-info {
    display: flex;
}

.best-film-info img {
    width: 80px;
    margin-left: 15px;
    margin-top: 0px;
    border-radius: 10px;
    margin-top: 5px;
}

.best-film-info-text {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 12px;
}

.best-film-grid {
    margin-top: 10px;
    margin-left: 15px;
    display: grid;
    grid-template-columns: auto auto;
}

.best-film-grid span {
    font-size: var(--sm);
}

.best-film-grid span:nth-child(2n+1) {
    font-weight: bold;
    text-align: end;
    margin-right: 6px;
}